<%= form_with(model: register, local: true) do |form| %>
  <% if register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% register.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :registration %>
    <%= form.number_field :registration, id: :register_registration %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :register_name %>
  </div>

  <div class="field">
    <%= form.label :course %>
    <%= form.text_field :course, id: :register_course %>
  </div>

  <div class="field">
    <%= form.label :module %>
    <%= form.number_field :module, id: :register_module %>
  </div>

  <div class="field">
    <%= form.label :date_of_registration %>
    <%= form.date_select :date_of_registration, id: :register_date_of_registration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
